    body {padding: 1px; background: #FFFFFF;}
      p, body, table {font-family: "Arial Unicode MS", verdana, arial; font-size: 85%;}
      i {font-family: georgia, arial}
      table { border: 1px solid #cdc1ae; border-collapse: collapse; padding: 0px; margin: 1px;}
      TH {border: 1px solid #cdc1ae;  }
      /* DL {border: 2px solid #dad3ce; margin: 1px 80px ;}*/
      DT {text-align: left; border: 1px solid white; border-bottom: 1px solid #d5cdbf; border-right: 1px solid #e5dfce; color: #817e70;margin: 2px 80px ; padding: 5px 10px;  background: #FBFBFB; font-weight: bold}
      DD {text-align: justify; margin: 0px 80px ; padding: 2px 50px 2px 80px; background: #FFFFFF; vertical-align: top; line-height:175%}
      dd p {margin: 0px; padding: 1px}
      TD {border: 1px solid #cdc1ae; padding: 2px;vertical-align: top;}
      TR { padding: 2px;background:#fffffa ; }
      h1 {font-family: verdana; letter-spacing: .2em;font-size: 13pt; color: #345E7E; font-weight: bold;}
      pre {font-family: "Lucida Console", "Lucida Sans Unicode"}
      A:link{Color : #00008B; Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none; }
      A:visited{Color : #00008B;Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none;}
      A:hover{Color : #A0522D;Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none;}
     .ref a:link{font-weight: normal;    color: #2E8B57; border-bottom: 1px dotted #DAA520; }
     .ref a:visited{font-weight: normal; color: #2E8B57; border-bottom: 1px dotted #DAA520; }
     .ref a:hover{font-weight: normal;   color: #1E90FF; border-bottom: 1px dotted #FF6347;}
      
      .info {color: #bbbbbb; padding: 3px}
      .even {background-color: #f5f0df}
      input {border:1px solid #a3a3a3;background: #FFFEF6; margin: 5px}
      .button {border:1px solid #d6d1c0; background: #F7F7F0;}
      table.search {border: 0px; background: #fff;}
      table.search td {text-align: right; border: 0px}
      .dbg {color:#eaebec} /* #e7e7cc */
      .prev{display: inline; float: left; text-align:left; width: 100px; }
      .next{display: inline; float: right; text-align: right; width: 100px; }
      select {background-color: white; color: gray; border:1px solid #b6b099;}
      .star {color:#395666}
      .m1{  display: block}
      .m2{margin-left: 10px;  display: block}
      .m3{margin-left: 18px;  display: block}      
      .m4{  display: block}
      .m2 b i {color: #996300}
      .p1 {color: #333b14}
      .col1{color: #660066}
      .col2{color: #006600}
      .col3{color: #857d49}
      .ex {color: #000099; color: #ca6900; font-family: arial; padding-left:5px}
      .com{color: darkred}
      .stress {font-weight: bold; font-style:normal}
      .ref{font-weight: bold; color: #009999}

      .col_darkslategray{color: Gray;}
      .col_darkblue {color:#660066; text-decoration: underline; font-weight:normal}
      .col_green {color:darkgreen; font-style:italic;font-family:serif}
      .nobrd {border: 0px}
      /*.h {background-color: #ffff99; border: 0px; border-bottom: 2px dotted #ffe88c; } */
      .h {background-color: #ffff99; border: 1px solid #ffe88c; }
      .cent{text-align:center;}
